/* Estilos para el navBar */

.pages-indixes a[id="profile-link"] {
    font-weight: bold;
    color: #27acff;
}

.pages-indixes a[href="profile.html"]:hover {
    color: #70bae9;
}


/* Estilos para el 'show-information' */
#show-information {
    padding: 20px;
}

#show-information h1 {
    color: #333;
    font-style: italic;
    font-size: 24px;
    margin-bottom: 20px;
    padding-left: 25px;
    text-align: start;
}

#show-information .container-row {
    background-color: #f9f9f9;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px;
}

#show-information .container-col {
    transition: transform 0.3s ease;
}

#show-information .picture {
    align-items: center;
    justify-content: center;
}

#show-information .picture img {
    width: 45%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

#show-information .info {
    margin-top: 20px;
    width: 80%;
}

#show-information h2 {
    color: #333;
    font-size: 28px;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

#show-information h3 {
    color: #555;
    font-size: 20px;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

#show-information p {
    color: #777;
    font-size: 16px;
    line-height: 1.6;
    transition: color 0.3s ease;
}

/* Efectos al pasar el cursor */
#show-information .container-col:hover {
    transform: scale(1.05);
}

#show-information .picture img:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#show-information .info h2:hover,
#show-information .info h3:hover {
    color: #104C72;
}

#show-information .info p:hover {
    color: #192381;
}

/* Estilos para el 'edit-information' */

#edit-information {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
}

/* Estilos para el form-group (forms) */
.form-group{
    margin: 0 auto;
    max-width: 100%;
    margin: 2% 1.5% 2% 1.5%;
    padding: 40px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.form-submit {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"]:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-submit {
    text-align: center;
}

/* Estilos para el insertar */
.insert button {
    display: inline-block;
    padding: 10px 20px;
    margin: 1.5% auto;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    -webkit-transition: background-color 0.3s ease, color 0.3s ease;
    -moz-transition: background-color 0.3s ease, color 0.3s ease;
    -ms-transition: background-color 0.3s ease, color 0.3s ease;
    -o-transition: background-color 0.3s ease, color 0.3s ease;
    transition: background-color 0.3s ease, color 0.3s ease;
}


/* Estilos para el submit cambios */

button[type="submit"] {
    background-color: #104C72;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #192381;
}


/* Estilos adicionales para hacer la página responsiva */

@media screen and (max-width: 700px) {
    /* Estilos para dispositivos con un ancho máximo de 768px */

    .logo {
         width: 100% !important;
         justify-content: center;
         padding-bottom: 2.5%;
    }

    .pages-indixes {
         width: 100% !important;
         font-size: 14px;
         justify-content: space-around;
    }

    .container-row {
         flex-direction: column !important;
         align-items: center;
         margin: 0;
    }

    .container-col {
         width: 90%;
         margin: 5% 0;
    }

    #show-information .container-row {
         flex-direction: column;
    }

    #show-information .picture img {
         width: 70%;
    }

    #show-information .info {
         width: 100%;
    }

    #edit-information {
         padding: 20px;
    }
}

@media screen and (max-width: 480px) {
    /* Estilos para dispositivos con un ancho máximo de 480px */

    .logo {
         width: 50%;
         align-items: center;
    }

    .pages-indixes {
         width: 80%;
         font-size: 12px;
    }

    #show-information .picture img {
         width: 80%;
    }
}