/* Estilos generales para la pagina */

.pages-indixes a[href="#show-information"] {
     font-weight: bold;
     color: #27acff;
}

.pages-indixes a[href="#show-information"]:hover {
     color: #70bae9;
}


/* Estilos para el 'show-information' */
#show-information {
     padding: 20px;
}

#show-information h1 {
     color: #333;
     font-style: italic;
     font-size: 24px;
     margin-bottom: 20px;
     padding-left: 25px;
     text-align: start;
}

#show-information .container-row {
     background-color: #f9f9f9;
     -webkit-border-radius: 25px;
     -moz-border-radius: 25px;
     -ms-border-radius: 25px;
     -o-border-radius: 25px;
     border-radius: 25px;
}

#show-information .container-col {
     transition: transform 0.3s ease;
}

#show-information .picture {
     width: 40%;
     align-items: center;
     justify-content: center;
}

#show-information .picture img {
     max-width: 60%;
     min-width: 45%;
     height: auto;
     border-radius: 50%;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
     transition: box-shadow 0.3s ease;
}

#show-information .info {
     margin-top: 20px;
     width: 80%;
}

#show-information h2 {
     color: #333;
     font-size: 28px;
     margin-bottom: 10px;
     transition: color 0.3s ease;
}

#show-information h3 {
     color: #555;
     font-size: 20px;
     margin-bottom: 10px;
     transition: color 0.3s ease;
}

#show-information p {
     color: #777;
     font-size: 16px;
     line-height: 1.6;
     transition: color 0.3s ease;
}

.container-col.info ul {
     list-style-type: none;
     padding: 0;
}

.container-col.info li {
     margin-bottom: 10px;
     border-bottom: 1px solid #ccc;
     /* Agrega una línea separadora entre los elementos */
     padding-bottom: 5px;
     /* Añade espacio debajo de cada elemento */
}

.container-col.info li:last-child {
     border-bottom: none;
     /* Elimina la línea separadora del último elemento */
}

.container-col.info li:before {
     content: "\2022";
     /* Agrega un símbolo de viñeta antes de cada elemento */
     color: #555;
     /* Color de la viñeta */
     font-size: 10px;
     /* Tamaño de la viñeta */
     margin-right: 5px;
     /* Espacio entre la viñeta y el texto del elemento */
}

.container-col.info li:hover {
     background-color: #f0f0f0;
     /* Cambia el color de fondo cuando se pasa el cursor sobre un elemento */
}

/* Efectos al pasar el cursor */
#show-information .container-col:hover {
     transform: scale(1.05);
}

#show-information .picture img:hover {
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#show-information .info h2:hover,
#show-information .info h3:hover {
     color: #104C72;
}

#show-information .info p:hover {
     color: #192381;
}

/* Estilos para el 'edit-information' */

#edit-information {
     max-width: 600px;
     margin: 0 auto;
     padding: 40px;
}

/* Estilos para el formulario */

#edit-information .container-col {
     background-color: #f9f9f9;
     padding: 20px;
     -webkit-border-radius: 25px;
     -moz-border-radius: 25px;
     -ms-border-radius: 25px;
     -o-border-radius: 25px;
     border-radius: 25px;
     min-width: 50%;
}

#edit-information h1 {
     color: #333;
     font-style: italic;
     font-size: 24px;
     margin-bottom: 20px;
     padding-left: 25px;
}

#info-user {
     margin: 0 auto;
}

form {
     margin: 0 auto;
     max-width: 100%;
     margin: 2% 1.5% 2% 1.5%;
     padding: 40px;
     background-color: #ffffff;
     border: 1px solid #ccc;
     border-radius: 8px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
     margin-bottom: 20px;
     max-width: 95%;
}

.form-submit {
     margin-bottom: 20px;
}

label {
     display: block;
     margin-bottom: 5px;
}

input[type="text"],
textarea {
     width: 100%;
     padding: 8px;
     font-size: 16px;
     border: 1px solid #ccc;
     border-radius: 4px;
}

input[type="text"],
input[type="url"],
#bio {
     width: 98%;
     padding: 8px;
     margin-bottom: 10px;
     border: 1px solid #ccc;
     border-radius: 4px;
}

input[type="text"]:hover,
input[type="url"]:hover,
#bio:hover {
     box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

button[type="submit"] {
     padding: 10px 20px;
     font-size: 16px;
     background-color: #4CAF50;
     color: #fff;
     border: none;
     border-radius: 4px;
     cursor: pointer;
}

.radio-group label {
     display: inline-block;
     margin-right: 10px;
     padding: 5px 10px;
     border: 1px solid #ccc;
     border-radius: 4px;
     cursor: pointer;
}

.radio-group input[type="checkbox"] {
     display: none;
}

.radio-group input[type="checkbox"]+label {
     background-color: #fff;
}

.radio-group input[type="checkbox"]:checked+label {
     background-color: #4CAF50;
     color: #fff;
     transition: background-color 0.3s ease, color 0.3s ease;

}
.radio-group input[type="checkbox"]:checked+label:hover {
     background-color: #3e8b40;
}

.form-submit {
     text-align: center;
}

/* Estilos para el insertar */
.insert button {
     display: inline-block;
     padding: 10px 20px;
     margin: 1.5% auto;
     color: #fff;
     text-decoration: none;
     border-radius: 4px;
     border: none;
     -webkit-transition: background-color 0.3s ease, color 0.3s ease;
     -moz-transition: background-color 0.3s ease, color 0.3s ease;
     -ms-transition: background-color 0.3s ease, color 0.3s ease;
     -o-transition: background-color 0.3s ease, color 0.3s ease;
     transition: background-color 0.3s ease, color 0.3s ease;
}

.disabled {
     background-color: gray;
}

.show {
     cursor: pointer;
     background-color: #273CCB;
}

.insert button:hover {
     background-color: #1977f3;
}

/* Estilos para la caja de texto */
.insert input[type="text"] {
     width: 100%;
     padding: 8px;
     margin-top: 5px;
     border: 1px solid #ccc;
     border-radius: 4px;
     box-sizing: border-box;
}

/* Estilos para el boton de Cv */

#info-user button[id="submit-cv"] {
     background-color: #71a1be;
     color: #fff;
     border: none;
     padding: 10px 20px;
     font-size: 16px;
     border-radius: 4px;
     cursor: pointer;
}
#info-user button[id="submit-cv"]:hover {
     background-color: #1977f3;
}


/* Estilos para el submit cambios */

button[type="submit"] {
     background-color: #104C72;
     color: #fff;
     border: none;
     padding: 10px 20px;
     font-size: 16px;
     border-radius: 4px;
     cursor: pointer;
}

button[type="submit"]:hover {
     background-color: #1977f3;
}

/* Media Query para pantallas de hasta 800px de ancho */
@media (max-width: 800px) {

     header .container-row {
          flex-direction: column;
     }

     .navbar {
          width: 100% !important;
     }

     #photo{
          align-content: center !important;
          justify-content: center !important;
          min-width: 85% !important;
          max-width: 100%;
     }

     .logo {
          min-width: 100%;
          margin-bottom: 10px;
          justify-content: center !important;
     }

     .pages-indixes {
          width: 100% !important;
          margin-bottom: 10px;
     }

     #show-information .container-row {
          flex-direction: col;
          display: block;
     }

     .picture {
          align-content: center;
          padding: 1%;
     }

     #infoDiv p {
          text-align: justify;
     }

     #infoDiv {
          padding: 1%;
          width: 95% !important;
     }


     #info-user {
          max-width: 100%;
     }

     #info-user .container-row {
          align-items: flex-start;
          min-width: 100%;
     }

     h2{
          text-align: center;
     }
}