.pages-indixes a:hover {
    color: #104C72;
}

.pages-indixes a[href="#sesiones-info"] {
    font-weight: bold;
    color: #27acff;
}

.pages-indixes a[href="#sesiones-info"]:hover {
    color: #70bae9;
}

.container-row {
    display: flex;
    flex-direction: row;
    margin: 0%;
    padding: 0px 1%;
    justify-content: space-between;
}

.container-col {
    display: flex;
    flex-direction: column;
    margin: 0%;
}

/* Estilos titulo */
.container-titulo{
    display: inline-block;
    border-radius: 10px 10px 0px 0px;
    border-width: 1px;
    border-style: solid;
    margin: 4% auto;
    padding: 0px 5%;
    box-shadow: 0 10px 4px rgba(0, 0, 0, 0.1);
}
.container-titulo h1{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

/* Estilos de la tarjeta sesion*/
.sesiones{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.sesion-card{
    padding: 0px;
    margin: 1% 0%;
    min-width: 20%;
}
.sesion-card .titulo{
    background-color: #84A9D0;
    border-color: #D9D9D9;
    border-radius: 10px 10px 0px 0px;
    border-width: 1px;
    border-style: solid;
    padding: 0px 20px;
    text-align: center;
}
.sesion-card .descripcion{
    background-color: #ffffff;
    border-color: #D9D9D9;
    border-radius: 0px 0px 10px 10px;
    border-width: 1px;
    border-style: solid;
    padding: 5px 20px;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
}
.container-col a{
    font-size: 18px;
    padding: 10px 0px;
}

/* Media Query para pantallas de hasta 768px de ancho */
@media (max-width: 768px) {

    header .container-row {
         flex-direction: column;
    }
    .navbar{
         width: 100% !important;
    }
    .logo {
         min-width: 100%;
         margin-bottom: 10px;
         justify-content: center !important;
    }

    .pages-indixes {
         width: 100% !important;
         margin-bottom: 10px;
    }
}